.pic-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
}

.picAndText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  background-color: inherit;
  width: 1800px;
  flex-basis: 600px;
  padding-top: 70px

}

.header {
  display: flex;
  flex-direction: row;
  background-color: #72A0C1;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 50px;

}

.signature {
  margin-left: 1200px;
  color: white
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #72A0C1;
  width: 100%;
  color: white
}
