.pic-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
}

.picAndText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  background-color: inherit;
  width: 1800px;
  flex-basis: 600px
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #72A0C1;
  position: fixed;
  top: 0;
  width: 100%;


}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #72A0C1;
  width: 100%;
  color: white
}

.signature {
  margin-left: 900px;
}

.header, input{
    color: white ;
};
