

body {
  background: rgb(255, 255, 255);
}

.description {
  background-color: #F0F8FF;
  padding-left: 10px;
  padding-right: 10px;
  width: 600px;
  height: 450px
}

.button {
    background-color: #72A0C1;
    padding: 20px;
    border-style: none;
};

h1 {text-align: center;
  }

  .bodyB {
      background-color: #B9D9EB;
      padding: 5px;
      border-style: none;
      color: white;
      font-size: 17px
  };

p {
  justify-content: center;
}

.bodyB:hover{
  background-color: #72A0C1
}

img{
  border: 2px solid #B9D9EB;
  height: 400px
}

a{
  color: #72A0C1
}
