h1 {text-align: center;
  }

body {
  background: rgb(175, 175, 175);
}

.pic-links {
	margin: 45px auto;
	padding: 10px;
	background: #fff;
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.item {
  	padding: 15px;
  	border-radius: 3px;
  	background: rgb(175, 175, 175);
}

p {
  justify-content: center;
}

.button {
    background-color: black;
    padding: 20px;
};

.container{
  /* width: 70%; */
  margin: auto;
  margin-top: 2%;
  text-align: center;
}
span{
  width: 450px
}


.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
  background-color: grey;
  padding: 10px;
  border-style: solid;
  width: 300px;
  height: 30px
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}
